@reference "tailwindcss";

.container {
    @apply flex flex-col gap-y-1;
}

.colorInputWrapper {
    cursor: pointer;
    --color-1: #ccc;
    --color-2: transparent;
    background-color: #fff;
    background-image:
            linear-gradient(45deg, var(--color-1) 25%, var(--color-2) 25%),
            linear-gradient(-45deg, var(--color-1) 25%, var(--color-2) 25%),
            linear-gradient(45deg, var(--color-2) 75%, var(--color-1) 75%),
            linear-gradient(-45deg, var(--color-2) 75%, var(--color-1) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
    border-radius: 2em;
    overflow: hidden;
}
.colorInput {
    width: 100%; /* or whatever size you want */
    height: 100%;
    border: none;
    border-radius: 1em; /* optional */
    cursor: pointer;
    padding: 0;
    outline: none;
    overflow: hidden;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: none;
        /*border-radius: 4px; !* optional, match parent *!*/
    }

    &::-moz-color-swatch {
        border: none;
        /*border-radius: 4px; !* optional *!*/
    }
}


.opacityInput {

}
