@reference "tailwindcss";

.container {
    @apply p-4 flex flex-col bg-blue-700;
}

.header {
    @apply text-white text-2xl font-semibold mb-4;
}

.field {
    @apply flex flex-row gap-2 py-1;

    & > label {
        flex: 1 1 auto;
    }
}

.fieldComment {
    @apply bg-gray-700 border-l-gray-200 border-l-6 text-gray-400 px-2;
}

.usernameHelpButton {
    anchor-name: --username-help;
    @apply rounded-full;
}

.usernamePopover {
    position: absolute;
    position-anchor: --username-help;
    position-area: top left;
    top: anchor(bottom);
    left: anchor(left);
    @apply p-4;
    width: max-content;

    &:popover-open {
        display: block;
    }
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    & > ul {
        @apply text-gray-200 py-0 my-0 pl-6;
    }
}

.fieldGroup {
    & > label {
        @apply font-bold;
    }

    & > div {
        @apply ml-2;
    }
}

.fieldValuePreview {
    @apply font-mono;
}

.downloads {
    @apply flex flex-row gap-2 py-1;
}
