@reference "tailwindcss";

.container {
    @apply p-4 flex flex-col bg-[#204050];
}

.layout {
    @apply flex flex-col md:flex-row gap-4;
}

.settingsForm {
    @apply flex flex-col gap-2;
}

.fieldComment {
    @apply bg-gray-700 border-l-gray-200 border-l-6 text-gray-400 px-2;
}

.fileDropArea {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    cursor: pointer;

    & > div {
        @apply flex p-2 w-full h-full bg-[#00000040] text-white;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    /* duplicating for non-mobile to appear on hover */
    @media (hover: hover) {
        &:hover {
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.75);
        }
        &:hover > div {
            background-color: transparent;
        }
    }
}

.avatarContainer {
    @apply flex flex-col gap-2 items-center;
}

.downloads {
    @apply flex flex-row gap-2 py-1;
}
