@reference "tailwindcss";

.container {
    @apply p-4 flex flex-col bg-[#204050];
}

.layout {
    @apply flex flex-row md:flex-col gap-4;
}

.settingsForm {
    @apply flex flex-col gap-2;
}

.fieldComment {
    @apply bg-gray-700 border-l-gray-200 border-l-6 text-gray-400 px-2;
}

.usernameHelpButton {
    anchor-name: --username-help;
    @apply rounded-full aspect-square;
}

.usernamePopover {
    position: absolute;
    position-anchor: --username-help;
    position-area: top left;
    top: anchor(bottom);
    left: anchor(left);
    @apply p-4;
    width: max-content;

    &:popover-open {
        display: block;
    }
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    & > ul {
        @apply text-gray-200 py-0 my-0 pl-6;
    }
}

.fileDropArea {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;

    & > div {
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    /* duplicating for non-mobile to appear on hover */
    @media (hover: hover) {
        &:hover {
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.75);
        }
        &:hover > div {
            width: 100%;
            height: 100%;
            background-color: transparent;
        }
    }
}

.downloads {
    @apply flex flex-row gap-2 py-1;
}
