@reference "tailwindcss";

.container {
    @apply p-4 flex flex-col bg-blue-700;
}

.header {
    @apply text-white text-2xl font-semibold mb-4;
}

.field {
    @apply flex flex-row gap-2 py-1;

    & > label {
        flex: 1 1 auto;
    }
}

.fieldGroup {

    & > label {
        @apply font-bold;
    }

    & > div {
        @apply ml-2;
    }
}

.fieldValuePreview {
    @apply font-mono;
}

.downloads {
    @apply flex flex-row gap-2 py-1;
}
